.swipeButtons {
  position: fixed;
  bottom: 7vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons-repeat {
  width: 70px;
  height: 10vh;
  color: #f5b748 !important;
}

.swipeButtons-left {
  width: 70px;
  height: 10vh;
  color: #ec5e6f !important;
}

.swipeButtons-star {
  width: 70px;
  height: 10vh;
  color: #62b4f9 !important;
}

.swipeButtons-right {
  width: 70px;
  height: 10vh;
  color: #76e2b3 !important;
}

.swipeButtons-lightning {
  width: 70px;
  height: 10vh;
  color: #915dd1 !important;
}
